{% extends 'diploma/index.html' %}
{% block content %}
{% load static%}
<div class="container p-0">
    <h1 class="h3 mb-3">Настройки</h1>
    <div class="row">
    <div class="col-md-5 col-xl-4">
    <div class="card">
    <div class="card-header">
    <h5 class="card-title mb-0">Настройка профиля</h5>
    </div>
    <div class="list-group list-group-flush" role="tablist">
    <a class="list-group-item" data-toggle="list" href="#account" role="tab">
    Профиль
    </a>
    <a class="btn btn-primary btn-sm mt-3" target="__blank" href="{% url 'profile' %}" style="color: rgb(255, 255, 255);">Назад в профиль</a>
    </div>
    </div>
    </div>
    <div class="col-md-6 col-xl-8">
    <div class="tab-content">
    <div class="tab-pane fade show active" id="account" role="tabpanel">
    <div class="card">
    </div>
    <div class="card">
    <div class="card-header">
    <div class="card-actions float-right">
    </div>
    <h5 class="card-title mb-0">Настройка профиля</h5>
    </div>
    <div class="card-body">
    <form method="POST" action="#" enctype="multipart/form-data">
        {% csrf_token 0%}
        {{form.as_p}}
            <p>Текущее фото:</p>
            <img class="profile_img" src="{{request.user.employer.profile_img.url}}" class="rounded-circle img-responsive mt-2" width="100" height="100">  
            <!-- Submit button -->
            <div>
                <button type="submit" class="btn btn-primary mt-2">Сохранить изменений</button> 
            </div> 
    </form> 
    </div>
    </div>
    </div>
    </div>
    </div>
</div>
    {% endblock %}