{% extends 'diploma/index.html' %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">История изменений</h1> 
        <h2>{{ top }}</h2>
    </div>

    <!-- Content Row -->
    <div class="row">     

        <table class="table table-striped col-xl-12">
            <thead>
                <tr>
                  <th>Тема</th>
                  <th>Время загрузки</th>
                  <th>Время обновления</th>
                  <th>Дата утверждения</th>
                  <th>Статус</th>
                  <th>Download</th>
                </tr>
              </thead>
              <tbody>
                  {% for file in history_files %}
                <tr>
                  <td>
                    {{file.topic}}
                  </td>
                  <td> 
                    {{file.time_create}}
                  </td>
                  <td>
                    {{file.time_update}}
                  </td>
                  <td>
                    {{ file.date_confirm }}
                  </td>
                  <td>
                    {% if file.confirm == 'Действующий документ' %}
                    <p style="color: limegreen;"><b>{{ file.confirm }}</b></p>
                    {% else %}
                    <p style="color: red;"><b>{{ file.confirm }}</b></p>
                    {% endif %}
                  </td>
                  <td>
                    <a href="{{ file.file.url }}" class="btn btn-primary btn-sm" target="_blank"> Скачать Документ </a>
                  </td>
                  {% if request.user.is_staff %}
                  <td>
                    <form method="POST" action="{% url 'update' file.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success btn-sm">Обновить</button>
                    </form>
                  </td>
                  <td>
                    <form method="POST" action="{% url 'delete_file' file.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                    </form>
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
        </table>
    </div>

</div>
{% endblock %}