{% extends 'diploma/index.html' %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    
    <h2>{{ cat_s }}</h2>
    <!-- Content Row -->
    <div class="container mt-4">     
        <h2>Документы 
            {% if request.user.is_staff %}
            <a class="btn btn-primary btn-sm" href="{% url 'uploadfile' %}">Загрузить документ</a>
            {% endif %}
        </h2>       

        <table class="table table-striped col-xl-12">
            <thead>
                <tr>
                  <th>Тема</th>
                  <th>Дата загрузки</th>
                  <th>Дата обновления</th>
                  <th>Архив</th>
                  <th>Download</th>
                </tr>
              </thead> 
              {% for file in category_files %}
              <tbody>
                <tr>
                  <td>
                    {{file.topic}}
                  </td>
                  <td>
                    {{file.time_create.day}}.{{file.time_create.month}}.{{file.time_create.year}}
                  </td>
                  <td>
                    {{file.time_update.day}}.{{file.time_update.month}}.{{file.time_update.year}}
                  </td>
                  <td>
                    <a href="{% url 'history' file.topic%}" class="btn btn-secondary btn-sm">История изменений</a>
                  </td>
                  <td>
                    <a href="{{ file.file.url }}" class="btn btn-primary btn-sm" target="_blank"> Скачать Документ </a>
                  </td>
                  {% if request.user.is_staff %}
                  <td>
                    <form method="POST" action="{% url 'update' file.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success btn-sm">Обновить</button>
                    </form>
                  </td>
                  <td>
                    <form method="POST" action="{% url 'delete_file' file.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                    </form>
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
        </table>
    </div>

</div>
{% endblock %}