<!DOCTYPE html>
<html lang="en">

<head>
{% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Astana IT University</title>

    <link href="{% static '/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"rel="stylesheet">

    
    <link href="{% static '/css/sb-admin-2.css' %}" rel="stylesheet">

</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class=" col-xl-2 col-md-2 col-sm-2 mb-5  navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
                <div class=" sidebar-brand-icon">
                    <img src="{% static '/images/aitu-logo.png '%}"style="width: 140px;">
                </div>
                <div class="sidebar-brand-text mx-3"></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Тема
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            {% for list in category_list %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'category' list %}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>{{list.name}}</span></a>
            </li>
            {% endfor %}

            <div class="text-center d-none d-md-inline">
                <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt "></i>Logout</a>
            </div>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div  id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow py-5">

                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="POST" action="{% url 'results' %}">
                      {% csrf_token %}  
                      <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Поиск документа..." name="searched" aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <h4>Реестр Нормативных Документов Astana It University</h4>

                    <!-- Topbar Navbar -->

                        <div class="topbar-divider d-none d-md-block"></div>
                            <a href="{% url 'profile' %}" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 ">
                                    {% if request.user.is_staff %}
                                    {{request.user}}
                                    {% endif %}
                                    {{request.user.employer.name}}
                                </span>
                            </a>
                    
                </nav>
                

                {% block content %}
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-grey-800">Dashboard</h1> 
                    </div>

                    <!-- Content Row -->
        <div class="row">
                        
        
        <div class="container mt-4">
            {% if request.user.is_staff %}
            <h2>Пользователи</h2>           
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th>Fullname</th>
                      <th>Birthday</th>
                      <th>Email</th>
                      <th>Position</th> 
                    </tr>
                  </thead>
                  <tbody>
                      {% for employer in employer %}
                    <tr>
                      <td>{{employer.name}} {{employer.surname}}</td>
                      <td>{{employer.birthday}}</td>
                      <td>{{employer.email}}</td>
                      <td>{{employer.position}}</td>
                    </tr>
                      {% endfor %}
                  </tbody>
            </table>
            {% endif %}
            <h2>Документы 
                {% if request.user.is_staff %}
                <a class="btn btn-primary btn-sm" href="{% url 'uploadfile' %}">Загрузить документ</a>
                {% endif %}
            </h2>       

            <table class="table table-striped col-xl-12">
                <thead>
                    <tr>
                      <th>Тема</th>
                      <th>Дата загрузки</th>
                      <th>Дата обновления</th>
                      <th>Категория</th>
                      <th>Архив</th>
                      <th>Download</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for file in file %}
                    <tr>
                      <td>
                        {{file.topic}}
                      </td>
                      <td>
                        {{file.time_create.day}}.{{file.time_create.month}}.{{file.time_create.year}}
                      </td>
                      <td>
                        {{file.time_update}}
                      </td>
                      <td>
                        <a href="{% url 'category' file.category %}" class="btn btn-secondary btn-sm">{{file.category}}</a>
                      </td>
                      <td>
                        <a href="{% url 'history'%}" class="btn btn-secondary btn-sm">История изменений</a>
                      </td>
                      <td>
                        <a href="{{ file.file.url }}" class="btn btn-primary btn-sm" target="_blank"> Скачать Документ </a>
                      </td>
                      {% if request.user.is_staff %}
                      <td>
                        <form method="POST" action="{% url 'update' file.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success btn-sm">Обновить</button>
                        </form>
                      </td>
                      <td>
                        <form method="POST" action="{% url 'delete_file' file.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                        </form>
                      </td>
                      {% endif %}
                    </tr>
                    {% endfor %}
                  </tbody>
            </table>
        {% endblock %}

            <!-- Footer -->
        </div>
        </div>
          <!-- End of Footer -->
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</body>

</html>